.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}

.header {
  
}

.content {

}

.sidebar {

}

.hotel-view {

}