.gallery {

  display: flex;

  &__item {

  }

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {

  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3.2rem;
  }

  &__stars {
    margin-right: auto;
    display: flex; //to fix bottom spacing glitch
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__icon-location { margin-right: .6rem; }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: white;
    align-self: stretch;
    padding: 0 2.25rem;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -5px;
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;
  }
}