.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;

    &::before {
      content: "";
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      margin-right: .7rem;

        // Newer browsers MASK
      background-color: var(--color-primary);
      -webkit-mask-image: url(../../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;


        //Older browsers
      //background-image: url(../../img/chevron-thin-right.svg);
      //background-size: cover;
    }
  }
}