.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__photo {
    box-sizing: content-box; // border will add over width/height and not inside
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white;
    
    @media only screen and (max-width: $bp-medium) {
      border: 2px solid white;
      height: 3.25rem;
      width: 3.25rem;
    }
    
    &:not(:last-of-type) {
      margin-right: -2rem;
    }
  }
}