.review {

  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;

  &__text {

  }

  &__user {

  }

  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
  }

  &__user-box {

  } 
  
  &__user-name {

  }

  &__user-date {

  }

  &__rating {

  }
}